main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

body .navbar
{
    padding: 0;
}

.container-channel {
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: 25rem 100px;
}

#message-box {
    align-self: center;
    margin: 20px;
}