{% extends "layout.html" %}

{% block title %}
    {{ channel }}
{% endblock %}

{% block content %}
    <div class="container-channel custom-window">
            <div id="chat" class="list-group">
                <a class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1" style="color:burlywood">{{ session.username }}</h6>
                        <ul id="messages">
                            <li class="mb-1">hola mark</li>
                        </ul>
                        <small>11:30</small>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
            </div>
        
        <div id="users">Users connected</div>

        <div id="message-box">
            <form method="POST" class="form-border">
                <div class="form-row">
                    <div class="form-group col-sm">
                        <div class="input-group">
                            <textarea name="comment" id="comment" class="form-control" rows="1" required></textarea>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <button id="send-button" class="btn btn-success" type="button" >Send</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="file-selector">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </div>
{% endblock %}